@model IEnumerable<VenueBookingSystem.Models.Booking>

@{
    ViewData["Title"] = "Booking Page";
}

<h1>Booking</h1>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Search Booking..." value=" @Context.Request.Query["searchString"]"/>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.VenueID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
 |

                </td>
            </tr>
        }
    </tbody>
</table>